:root {
    --blue-green-color: #099d8d;
    --grey-color: #b8b8b9;
    --aqua: #14d9c4;
    --white: white;
}

/* Font families 
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
*/

.header__base {
    width: 100vw;
    height: 60px;
    padding: 15px 0;
    opacity: 0.95;
    background-color: var(--blue-green-color);
    text-align: center;
}

.team_name {
    width: 160px;
    height: 30px;
    font-size: 16px;
    line-height: 1.88;
    text-transform: uppercase;
    color: var(--white);
    font-family: 'Rubik', sans-serif;
}

.rectangle {
    width: 100vw;
    height: 45px;
    padding: 8px 16px 7px 16px;
    opacity: 0.9;
    background-color: var(--aqua);
}

.nav {
    display: flex;
    justify-content: space-around;
}

.link_item {
    height: 30px;
    font-size: 15px;
    line-height: 2;
    text-transform: uppercase;
    color: var(--white);
    text-decoration: none;  
}

.section_2{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}
.div{
    margin: 1.875rem 0.938rem;
    background-color: pink;
}

.p, .h2{
    text-align: center;
    font-family: "Rubik";
}

.h2{
    font-size: 1.5rem;
    color: aqua;
}

.article .h2 {
    color: var(--blue-green-color);
    text-align: center;
    font-weight: bold;
}

.section_3 {
    background-color: var(--grey-color);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.article {
    line-height: 1.5;
    text-align: center;
}

.container {
    margin: 0 15px;
}