:root {
    --blue-green-color: #099d8d;
    --grey-color: #b8b8b9;
    --aqua: #14d9c4;
    --white: white;
}

/* Font families 
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
*/

.header__base {
    width: 100vw;
    height: 60px;
    padding: 15px 0;
    opacity: 0.95;
    background-color: var(--blue-green-color);
    text-align: center;
}

.team_name {
    width: 160px;
    height: 30px;
    font-size: 16px;
    line-height: 1.88;
    text-transform: uppercase;
    color: var(--white);
    font-family: 'Rubik', sans-serif;
}

.rectangle {
    width: 100vw;
    height: 45px;
    padding: 8px 16px 7px 16px;
    opacity: 0.9;
    background-color: var(--aqua);
}

.nav {
    display: flex;
    justify-content: space-around;
}

.link_item {
    height: 30px;
    font-size: 15px;
    line-height: 2;
    text-transform: uppercase;
    color: var(--white);
    text-decoration: none;  
}

.section_2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 30px 15px;
}
.section_2 .p{
    color: var(--gunmetal) ;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    margin-top: 15px;
}
.section_2 .h2{
    font-size: 24px;
    color: var(--aqua);
    line-height: 48px;
    font-family: 'Rubik', sans-serif;
    line-height: 24px;
    height: 45px;
}
.p, .h2{
    text-align: center;
    font-family: "Rubik";
}
/* Bea: desde aquí podría borrarse porque lo tengo puesto arriba, pero si lo toco modifico todo lo de Mónica */
.p{
    font-size: 16px; 
}
h2{
    font-size: 24px;
}
/* Hasta aquí */

.article .h2 {
    color: var(--blue-green-color);
    text-align: center;
    font-weight: bold;
}

.section_3 {
    background-color: var(--grey-color);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.article {
    line-height: 1.5;
    text-align: center;
}

.container {
    margin: 0 15px;
}