<footer class="footer">
  <div class="container">
    <p class="copyright">Las PowerTeam © 2023</p>
    <nav class="footer_nav">
      <ul class="footer_list">
        <li>
          <a class="link_footer" href="#team">EQUIPO</a>
        </li>
        <li>
          <a class="link_footer" href="#about-us">QUIÉNES SOMOS</a>
        </li>
        <li>
          <a class="link_footer" href="../contact.html">CONTACTO</a>
        </li>
      </ul>
    </nav>
    <a href="https://adalab.es/" target="_blank"
      ><img
        class="logo_adalab"
        src="./assets/images/logo-adalab.png"
        alt="logo Adalab"
    /></a>
  </div>
</footer>
