<footer class="footer">
  <div class="container">
    <p class="copyright">Las PowerTeam © 2023</p>
    <nav class="footer_nav">
      <ul class="footer_list">
        <li>
          <a class="link_footer" href="">EQUIPO</a>
        </li>
        <li>
          <a class="link_footer" href="">QUIÉNES SOMOS</a>
        </li>
        <li>
          <a class="link_footer" href="../contact.html">CONTACTO</a>
        </li>
      </ul>
    </nav>
    <img
      class="logo_adalab"
      src="./assets/images/logo-adalab.png"
      alt="logo Adalab"
    />
  </div>
</footer>
