<section class="section_4">
  <div class="container">
    <h2 class="title_2">QUIÉNES SOMOS</h2>
    <!-- Bea article -->
    <include
      src="./member.html"
      photo_member="./assets/images/beaa.png"
      name_member="Bea Figueroa"
      description_member="Después de diversas experiencias en el mundo laboral y de unos
    estudios que nada tienen que ver con el mundo tecnológico, he decido
    darle un cambio a mi vida y formarme en el mundo de la programación. Y
    aquí estoy, rodeada de estas estupendas mujeres para abrirnos paso en
    un mundo, hasta hace poco, desconocido para nosotras."
      link_twitter_member="https://twitter.com/arrobabarrabaja"
      link_linkedin_member="http://www.linkedin.com/in/bea-figueroa"
      link_github_member="https://github.com/beafig"
      link_mail_member="mailto:beafigueroa89@gmail.com?subject=Hola"
    ></include>

    <!-- Enrica article -->
    <include
      src="./member.html"
      photo_member="./assets/images/enrica.png"
      name_member="Enrica Garcia"
      description_member="Llevaba 8 años de experiencia en el mundo de la hostelería cuando descubrí mi verdadera vocación.

      Empecé a estudiar diseño UI UX para ser diseñadora web y es cuando mi curiosidad creció que me plantee una pregunta muy importante: ¿Qué puedo hacer para tener un perfil más completo?
      El mismo día me apunté a Adalab."
      link_twitter_member="https://twitter.com/enrica_garcia"
      link_linkedin_member="https://www.linkedin.com/in/enrica-garcia-69541a208/"
      link_github_member="https://github.com/ErriGarcia"
      link_mail_member="mailto:garcia.enricahabito@gmail.com?subject=Hola"
    ></include>

    <!-- Lau article -->
    <include
      src="./member.html"
      photo_member="./assets/images/beaa.png"
      name_member="Bea Figueroa"
      description_member="Después de diversas experiencias en el mundo laboral y de unos
    estudios que nada tienen que ver con el mundo tecnológico, he decido
    darle un cambio a mi vida y formarme en el mundo de la programación. Y
    aquí estoy, rodeada de estas estupendas mujeres para abrirnos paso en
    un mundo, hasta hace poco, desconocido para nosotras."
      link_twitter_member="https://twitter.com/arrobabarrabaja"
      link_linkedin_member="http://www.linkedin.com/in/bea-figueroa"
      link_github_member="https://github.com/beafig"
      link_mail_member="mailto:beafigueroa89@gmail.com?subject=Hola"
    ></include>

    <!-- Monica article -->
    <include
      src="./member.html"
      photo_member="./assets/images/beaa.png"
      name_member="Bea Figueroa"
      description_member="Después de diversas experiencias en el mundo laboral y de unos
    estudios que nada tienen que ver con el mundo tecnológico, he decido
    darle un cambio a mi vida y formarme en el mundo de la programación. Y
    aquí estoy, rodeada de estas estupendas mujeres para abrirnos paso en
    un mundo, hasta hace poco, desconocido para nosotras."
      link_twitter_member="https://twitter.com/arrobabarrabaja"
      link_linkedin_member="http://www.linkedin.com/in/bea-figueroa"
      link_github_member="https://github.com/beafig"
      link_mail_member="mailto:beafigueroa89@gmail.com?subject=Hola"
    ></include>

    <!-- third article-->
    <article class="article">
      <figure class="container_photo">
        <img
          class="photo_member"
          src="./assets/images/img_profile_default.png"
          alt="member picture"
        />
      </figure>
      <div class="info_member">
        <h3 class="name_member">Laura Caurín</h3>
        <p class="p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam
          justo nec lectus condimentum sagittis. Phasellus vitae laoreet sem.
          Morbi iaculis leo eleifend nulla eleifend mattis. Morbi eget ex justo.
          Cras vestibulum pulvinar lacus.
        </p>
        <ul class="icon_list_member">
          <li class="icon_profile_member">
            <a href="#" target="_blank">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
          <li class="dot">.</li>
          <li class="icon_profile_member">
            <a href="#" target="_blank">
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </li>
          <li class="dot">.</li>
          <li class="icon_profile_member">
            <a href="https://github.com/Laucaurin" target="_blank">
              <i class="fa-brands fa-github-alt"></i>
            </a>
          </li>
          <li class="dot">.</li>
          <li class="icon_profile_member">
            <a href="mailto:laura_cd1@hotmail.com?subject=Hola">
              <i class="fa-solid fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
    </article>
    <!-- fourth article-->
    <article class="article">
      <figure class="container_photo">
        <img
          class="photo_member"
          src="./assets/images/img_profile_default.png"
          alt="member picture"
        />
      </figure>
      <div class="info_member">
        <h3 class="name_member">Mónica Saborido</h3>
        <p class="p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam
          justo nec lectus condimentum sagittis. Phasellus vitae laoreet sem.
          Morbi iaculis leo eleifend nulla eleifend mattis. Morbi eget ex justo.
          Cras vestibulum pulvinar lacus.
        </p>
        <ul class="icon_list_member">
          <li class="icon_profile_member">
            <a href="#" target="_blank">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
          <li class="dot">.</li>
          <li class="icon_profile_member">
            <a href="#" target="_blank">
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </li>
          <li class="dot">.</li>
          <li class="icon_profile_member">
            <a href="https://github.com/sabfiamo" target="_blank">
              <i class="fa-brands fa-github-alt"></i>
            </a>
          </li>
          <li class="dot">.</li>
          <li class="icon_profile_member">
            <a href="mailto:sabfiamo@gmail.com?subject=Hola" target="_blank">
              <i class="fa-solid fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
    </article>
  </div>
</section>
