<section class="section_2">
  <div class="container">
    <h2 class="title_2">EQUIPO</h2>
    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam
      justo nec lectus condimentum sagittis. Phasellus vitae laoreet sem. Morbi
      iaculis leo eleifend nulla eleifend mattis. Morbi eget ex justo. Cras
      vestibulum pulvinar lacus. Phasellus nisl velit, pulvinar a commodo et,
      scelerisque ut enim. Fusce eu dapibus massa. Integer ac lectus ac dolor
      tempor placerat. Phasellus sollicitudin orci sit amet felis volutpat
      efficitur.
    </p>
    <p class="description">
      Praesent placerat, metus non cursus dignissim, enim eros venenatis justo,
      quis vestibulum tortor arcu non velit. Donec tincidunt ipsum non sapien
      mollis bibendum. Mauris eros ipsum, sollicitudin vel rhoncus nec, bibendum
      nec ipsum. Orci varius natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Curabitur est velit, finibus in gravida ac,
      accumsan in sapien
    </p>
    <div class="rectangle"></div>
  </div>
</section>
