.footer {
    background-color: $white;
    display: flex;
    justify-content: center;
    font: $openSans_regular_16;
}

.footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copyright {
    text-align: center;
    margin-top: 3rem;
    font-size: 1.4rem;
    color: $grey-color;
}

.footer_nav {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.footer_list {
    font: $openSans_semibold_14;
    color: $dark-grey-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_adalab {
    width: 11.5rem;
    margin: 3rem 0 4.5rem 0;
}

.link_footer {
    color: $dark-grey-color;
    font-size: 1.4rem;
    text-decoration: none;
    line-height: 2rem;
}

a:hover {
    cursor: pointer;
}