.header {
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    opacity: 0.95;
    color: $white;
    text-transform: uppercase;
}

.team_name {
    font: $rubik_medium_16;
    padding: 20px 0;
    text-align: center;
    height: 60px;
    background-color: $blue-green-color;
}

.nav_container {
    height: 45px;
    background-color: $aqua;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1.063rem 0.438rem 1rem;
    display: flex;
}

.nav_list {
    display: flex;
    // Bea: es necesario poner el width?
    width: 100%;
    list-style: none;
    justify-content: space-between;
}

.link_item {
    text-decoration: none;
    color: $white;
    font-size: 0.938rem;
    font: $rubik_medium_15;
}