.section_1 {
    padding-top: 10.5rem;
    height: 42rem;
    background: url(../images/simple.jpg) center bottom no-repeat;
    background-size: 100% 100%;
    // object-fit: contain;
    display: flex;
}

.section_1 .container {
    display: flex;
    align-items: flex-end;
}

.section_1 .title_2 {
    font: $openSans_semibold_18;
    padding: 1.4rem;
    background-color: $white;
    transform: translateY(50%);
    z-index: 1;
}