.section_1 {
    height: 420px;
    background: url(../images/makeiteasy2.jpg); 
    //center bottom no-repeat;
   // background-color: $grey-color;
    background-size: cover;
    display: flex;
}

.section_1 .container {
    display: flex;
    align-items: flex-end;
}

.section_1 .title_section_1 {
    font: $openSans_semibold_18;
    padding: 1.4rem;
    background-color: $white;
    transform: translateY(50%);
    z-index: 1;
}