.section_4 {
    text-align: center;
    padding: 3rem 0;
}

.section_4 .title_2 {
    font: $rubik_medium_24;
    color: $blue-green-color;
    padding: 1rem 0;
}

.section_4 .description {
    font: $openSans_regular_16;
    color: $dark-grey-color;
    padding-bottom: 1rem;
}

.name_member {
    font:$openSans_regular_20;
    color: #000000;
    line-height: 45px;
}

.photo_member {
    width: 18rem;
    height: 18rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    box-sizing: content-box;
    border: solid 5px $black-8;
    border-radius: 4px;
}

.icon_list_member {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    // Bea: no sé di debería darle una medida fija¿?
    // width: 124px;
    // height: 30px;
    margin: 1.5rem 8.3rem;
}

.fa-brands,
.fa-solid {
    color: $blue-green-color;
    font-size: 1.6rem;
}

.dot {
    color: $blue-green-color;
    font-size: 1.6rem;
}