.section_1 {
    height: 420px;
    background: url(../images/makeiteasy2.jpg); 
    //center bottom no-repeat;
   // background-color: $grey-color;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.section_1 .container {
    display: flex;
    align-items: flex-end;
}

.section_1 .title_section_1 {
    font: $openSans_semibold_14;
    font-size: 18px;
    padding: 14px;
    background-color: $white;
    transform: translateY(50%);
}