// @import 'core/variables';
@import 'core/reset';
// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'pages/index';

:root {
    --blue-green-color: #099d8d;
    --grey-color: #b8b8b9;
    --aqua: #14d9c4;
    --white: white;
    --dark-grey-color: #54585a;
    --black-color: #000000;
    --background-grey-color: #f1f1f1f1;
    --black-8: rgba(0,0,0,0.08);
    --FontAwesome5ProSolid_regular_16: 16px "FontAwesome5ProSolid", sans-serif;
    --FontAwesome5Brands_regular_16: 16px "FontAwesome5Brands", sans-serif;
    --OpenSans_regular_20: 400 20px "Open Sans", sans-serif;
    --OpenSans_regular_16: 400 16px "Open Sans", sans-serif;
    --OpenSans_regular_14: 400 14px "Open Sans", sans-serif;
    --OpenSans_regular_12: 400 12px "Open Sans", sans-serif;
    --OpenSans_semibold_14: 600 14px "Open Sans", sans-serif;
    --Rubik_medium_15: 500 15px "Rubik", sans-serif;
    --Rubik_medium_22: 500 22px "Rubik", sans-serif;
    --Rubik_medium_24: 500 24px "Rubik", sans-serif;
    --Rubik_medium_16: 500 16px "Rubik", sans-serif;
  }
  
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // Bea: es necesario poner el width?
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    opacity: 0.95;
    color: var(--white);
    text-transform: uppercase;
}

.team_name {
    font: var(--Rubik_medium_16);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: var(--blue-green-color);
    // Bea: es necesario poner el width?
    width: 100%;
}
  
.nav_container {
    height: 45px;
    background-color: var(--aqua);
    justify-content: center;
    align-items: center;
    // Bea: es necesario poner el width?
    width: 100%;
    padding: 0.5rem 1.063rem 0.438rem 1rem;
    display: flex;
}

.nav_list {
    display: flex;
     // Bea: es necesario poner el width?
    width: 100%;
    list-style: none;
    justify-content: space-between;
}

.link_item {
    text-decoration: none;
    color: var(--white);
    font-size: 0.938rem;
    font: var(--Rubik_medium_15);
  }
  .container {
  // Bea: usamos rem o px?
    margin: 0 15px;
 }

.section_1 {
    height: 420px;
    background: url("./assets/images/makeiteasy2.jpg") center bottom no-repeat;
    background-color: var(--grey-color);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
  
  .section_1 .container {
    display: flex;
    align-items: flex-end;
}
  
  .section_1 .title_section_1 {
    // Bea: usar variables para font-family
    font: var(--OpenSans_semibold_14);
    font-size: 18px;
    padding: 14px;
    background-color: var(--white);
    transform: translateY(50%);
}
  
.section_2 {
    text-align: center;
    padding: 30px 0;
    position: relative;
    top: 30px;
}

.section_2 .description {
    color: var(--gunmetal);
    font-family: (--OpenSans_regular_16);
    line-height: 24px;
    margin-top: 15px;
  }
  .section_2 .title_2 {
    font-family: var(--Rubik_medium_24);
    color: var(--aqua);
    line-height: 24px;
    padding: 10px 0;
  }

.rectangle {
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    background-color: var(--white);
    position: relative;
    top: 15px;
    left: 47%;
}
  
  .article .title_2 {
    font-family: var(--Rubik_medium_22);
    color: var(--blue-green-color);
    text-align: center;
}
  
  .section_3 .description {
    font-family: var(--OpenSans_regular_16);
    color: var(--dark-grey-color);
    padding-bottom: 30px;
}
  
.section_3 {
    background-color: rgba(184, 184, 185, 0.2);
    padding-bottom: 15px;
    padding-top: 30px;
}
  
.section_3 .article {
    line-height: 1.5;
    text-align: center;
}
  
.section_3 .container {
    display: flex;
    flex-direction: column;
}

.section_4 {
    text-align: center;
    padding: 30px 0;
  }
  .section_4 .title_2 {
    font-family: var(--Rubik_medium_24);
    color: var(--blue-green-color);
    padding: 10px 0;
  }
  .section_4 .description {
    font-family: var(--OpenSans_regular_16);
    color: var(--gunmetal);
    padding-bottom: 10px;
  }
  .name_member {
    font-family: var(--OpenSans_regular_20);
    color: #000000;
    line-height: 45px;
}

.photo_member {
    width: 180px;
    height: 180px;
    margin-top: 30px;
    margin-bottom: 15px;
    box-sizing: content-box;
    border: solid 5px var(--black-8);
    border-radius: 4px;
}

.icon_list_member {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    // Bea: no sé di debería darle una medida fija¿?
    // width: 124px;
    // height: 30px;
    margin: 15px 83px;
}

.fa-brands,
.fa-solid {
    color: var(--blue-green-color);
    font-size: 16px;
}

.dot {
    color: var(--blue-green-color);
    font-size: 16px;
}

.footer {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    font: var(--OpenSans_regular_16);
}
  
.footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.copyright {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: var(--grey-color);
}
  
.footer_nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  
.footer_list {
    font: var(--OpenSans_semibold_14);
    color: var(--dark-grey-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.logo_adalab {
    width: 115px;
    margin: 30px 0 45px 0;
}
  
.link_footer {
    color: var(--dark-grey-color);
    font-size: 14px;
    text-decoration: none;
    list-style-type: none;
    line-height: 2rem;
}

a:hover {
    cursor: pointer;
}
  
@media (min-width: 768px) {
    .header {
        background-color: var(--blue-green-color);
        flex-direction: row;
        justify-content: space-between;
        padding: 0 45px;
      }

      .container {
        margin: 0 45px;
      }

      .team_name {
        justify-content: flex-start;
      }

      .nav_container {
        background-color: var(--blue-green-color);
        padding: 0;
      }
    
      .nav_list {
        justify-content: flex-end;
        gap: 15px;
      }
    
      .section_1 .h2 {
        width: 450px;
        position: absolute;
        left: 45px;
        transform: none;
        opacity: 0.8;
        padding: 15px 30px;
        text-align: left;
        line-height: 25px;
      }

      .section_2 {
        position: static;
        padding: 0;
      }
      .section_2 .title_2 {
        color: var(--blue-green-color);
        margin-top: 45px;
      }
      .section_2 .description {
        margin-bottom: 30px;
      }
  
    .section_3 .description {
      // Bea: es la misma letra que en movil, no?
      font: var(--OpenSans_regular_16);
      color: var(--dark-grey-color);
      padding-top: 15px;
    }
  
    .section_3 .article {
      // Bea: es lo mismo que en formato movil, no?
      line-height: 1.5;
      text-align: center;
      width: 50%;
      padding: 10px;
    }
  
    .section_3 .container {
    // Bea: el margin horizontal es necesario aquí si ya está declarado para todo el doc?
      margin: 45px 45px;
      display: flex;
      flex-direction: row;
    }
    .photo_member {
      // Bea: es necesario el object-fit?
        object-fit: cover;
        width: 12.938rem;
        height: 12.938rem;
    }
    .container_photo {
      // Bea: borré este container porque pensé que no era necesario, lo es?
        margin: 0;
    }
    .section_4 .article {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .info_member {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        margin: 45px 0 15px 30px;
    }
    .section_4 .article:nth-child(2n+1) {
        flex-direction: row-reverse;
    }
    .info_member_r {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: end;
    }
   
    .footer .container {
      width: 100vw;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
      margin: 30px 45px 60px 45px;
    }
  
      .copyright {
        margin: 0;
        place-self: center start;
      }
    
      .logo_adalab {
        margin: 0;
        margin-top: 15px;
      }
    
      .footer_nav {
        margin: 0;
        grid-area: 1 / 2 / span 2;
        justify-self: end;
      }
  
      .footer_list {
        align-items: end;
        row-gap: 8px;
      }
  }


  @media (min-width: 1200px) {
  .container {
        margin: 0 300px;
    }
    .section_3 .container {
            margin: 45px 128px;
            display: flex;
            flex-direction: row;
    }
    .photo_member {
        object-fit: cover;
        width: 12.938rem;
        height: 12.938rem;
    }

    .container_photo {
        margin: 0;
    }

    .section_4 .article {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .info_member {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        margin: 45px 0 15px 30px;
    }

    .section_4 .article:nth-child(2n+1) {
        flex-direction: row-reverse;
    }
    
    .info_member_r {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: end;
    }
}